.user {
	display: flex;
	align-items: center;
	background: #2b5278;
	border-radius: 5px;
	padding: 0px 15px;
	height: 40px;
	margin-bottom: 5px;
}
.user-name {
	font-size: 18px;
	font-weight: bold;
	width: 150px;
}
.user-mail {
	width: 200px;
}
.user-isAdmin {
	width: 100px;
}
.button {
	cursor: pointer;
	color: white;
	background: #5288c1;
	font-size: 14px;
	border: 1px solid #17212b;
	border-radius: 5px;
	padding: 4px 6px;
}
.button-delete {
	margin-left: 10px;
	background: rgb(230, 84, 84);
}
