.users {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;
	max-width: 700px;
	background: #0e1621;
	display: grid;
	grid-template-rows: 50px 1fr;
	position: relative;
}
.users-navigation {
	padding: 5px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.users-navigation-create {
	cursor: pointer;
	color: white;
	background: #5288c1;
	font-size: 14px;
	border: 1px solid #17212b;
	border-radius: 5px;
	padding: 4px 6px;
}
.users-navigation-chat {
	padding: 5px 10px;
	color: white;
	vertical-align: middle;
}
