.login {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;
	max-width: 700px;
	background: #0e1621;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.login-body {
	border-radius: 5px;
	border: 1px solid white;
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.login-body input {
	background: none;
	color: white;
	border-radius: 5px;
	padding: 5px;
	border: 1px solid white;
	margin-bottom: 10px;
}
.login-body button {
	padding: 5px 10px;
	color: white;
	font-weight: bold;
	background: #5288c1;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}
