.message-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: scroll;

}
.message-list::-webkit-scrollbar {
    width: 0;
  }
.message-list-scroll{
    max-height: 100%;
}