.message-input {
  background: #17212b;
  display: grid;
  grid-template-columns: 1fr 120px;
}
.message-input-text {
  margin: 10px 0px 10px 20px;
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  overflow: hidden;
  resize: none;
}
.message-input-button {
  cursor: pointer;
  margin: 10px 20px;
  color: white;
  background: #5288c1;
  font-size: 18px;
  border: 1px solid #17212b;
  border-radius: 10px;
}
